h1 {
    color: green;
}

p {
    font-style: italic;
}

.titulo {
    color: red;
    text-align: center;
    font-size: 24px;
}

div {
    background-color: yellow;
    border: 2px solid blue;
    padding: 10px;
    margin: 15px;
}

#parrafo2 {
    color: blue;
    font-weight: bold;
    border: 3px solid red;
}

.boton-verde {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 12px 24px;
    cursor: pointer;
}

.borde {
    border: 2px solid black;
    background-color:gray;
}

.esquina {
    border-radius: 15px;
}

.sombra {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}